.background {
    -fx-background-image: url('background.jpg');
    -fx-background-size: cover;
    -fx-border-width: 0;
    -fx-border-color: #B0C4DE;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-background-position: center center; /* Розташування зображення по центру */
    -fx-background-repeat: no-repeat;
}

.header {
    -fx-background-color: #B0C4DE;
}

.left-side {
    -fx-background-color: #B0C4DE;
    -fx-border-width: 0;
    -fx-border-color: #B0C4DE;
}

.menu-button {
    -fx-background-color: #B0C4DE; /* Колір фону */
    -fx-text-fill: white; /* Колір тексту */
    -fx-background-radius: 0; /* Прямокутна форма */
    -fx-border-width: 0; /* Без контура */
    -fx-padding: 10px 20px; /* Відступи */
    -fx-font-size: 14px; /* Розмір шрифту */
    -fx-cursor: hand; /* Курсор у вигляді руки при наведенні */
    -fx-font-size: 18px; /* Розмір шрифту */
    -fx-font-family: "Verdana"; /* Шрифт */
    -fx-transition: background-color 0.3s, text-fill 0.3s; /* Плавний перехід */
}

.menu-button:hover {
    -fx-background-color: white; /* Колір фону при наведенні */
    -fx-text-fill: #B0C4DE; /* Колір тексту при наведенні */
}

.photo-button {
    -fx-background-color: #B0C4DE; /* Колір фону */
    -fx-text-fill: white; /* Колір тексту */
    -fx-background-radius: 10; /* Прямокутна форма */
    -fx-border-width: 0; /* Без контура */
    -fx-padding: 5px 10px; /* Відступи */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand; /* Курсор у вигляді руки при наведенні */
    -fx-font-size: 18px; /* Розмір шрифту */
    -fx-font-family: "Verdana"; /* Шрифт */
    -fx-transition: background-color 0.3s, text-fill 0.3s; /* Плавний перехід */
}

.photo-button:hover {
    -fx-background-color: #778899; /* Колір фону при наведенні */
    -fx-text-fill: white;
    /* Колір тексту при наведенні */
}

.photo-delete-button {
    -fx-background-color: tomato; /* Колір фону */
    -fx-text-fill: white; /* Колір тексту */
    -fx-background-radius: 10; /* Прямокутна форма */
    -fx-border-width: 0; /* Без контура */
    -fx-padding: 5px 10px; /* Відступи */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand; /* Курсор у вигляді руки при наведенні */
    -fx-font-size: 18px; /* Розмір шрифту */
    -fx-font-family: "Verdana"; /* Шрифт */
    -fx-transition: background-color 0.3s, text-fill 0.3s; /* Плавний перехід */
}

.photo-delete-button:hover {
    -fx-background-color: red; /* Колір фону при наведенні */
    -fx-text-fill: white;
    /* Колір тексту при наведенні */
}

.photo-check-box{
    -fx-background-radius: 20; /* Прямокутна форма */
    -fx-border-width: 0;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
}

.photo-check-box .box {
    -fx-background-color: #B0C4DE; /* Колір фону */
}

.photo-check-box:selected .box {
    -fx-background-color: #B0C4DE; /* Колір фону після встановлення галочки */
}

.photo-check-box .mark {
    -fx-background-color: transparent; /* Колір галочки */
}

.photo-check-box:selected .mark {
    -fx-background-color: white; /* Колір галочки після встановлення */
}

.split-pane .split-pane-divider {
    -fx-padding: 0; /* Відсутність відступів */
    -fx-background-color: transparent; /* Прозорий колір фону */
    -fx-border-width: 0; /* Без рамок */
}

.label-name {
    -fx-text-fill: white; /* Білий колір тексту */
    -fx-font-family: 'Verdana'; /* Шрифт, як у кнопок */
    -fx-font-size: 20px; /* Більший розмір шрифту */
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 10px; /* Відступ між текстом і зображенням */
    -fx-padding: 0 13px; /* Відступи зліва і справа */
}

.text-area-style {
    -fx-control-inner-background: white; /* Колір фону */
    -fx-text-fill: black; /* Колір тексту */
    -fx-font-family: "Verdana"; /* Шрифт */
    -fx-font-size: 12px; /* Розмір шрифту */
    -fx-border-color: transparent; /* Колір межі */
}

.text-area-style:focused {
    -fx-border-color: #B0C4DE; /* Колір межі при фокусі */
}

.form-style{
    -fx-background-color: transparent;
}

.label-personality {
    -fx-background-color: #778899; /* Колір фону */
    -fx-text-fill: white; /* Білий колір тексту */
    -fx-background-radius: 10px;
    -fx-font-family: 'Verdana'; /* Шрифт, як у кнопок */
    -fx-font-size: 18px; /* Більший розмір шрифту */
    -fx-padding: 5 5px; /* Відступи зліва і справа */
}

.slider-personality {
    -fx-background-color: #778899; /* Колір фону */
    -fx-progress-color: white;
    -fx-text-fill: white; /* Білий колір тексту */
    -fx-background-radius: 10px;
    -fx-font-family: 'Verdana'; /* Шрифт, як у кнопок */
    -fx-font-size: 18px; /* Більший розмір шрифту */
    -fx-padding: 0 0px; /* Відступи зліва і справа */
}

.slider-personality .tick-label{
    -fx-text-fill: white; /* Колір тексту */
    -fx-font-family: 'Verdana'; /* Шрифт */
    -fx-font-size: 14px; /* Розмір шрифту */
    -fx-font-weight: bold; /* Жирний шрифт */
}



